{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>J Chat App | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'core/assets/css/bootstrap/4.1.3/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/css/bs4_simple_chat_ap.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h5 class="title text-center">J Chat App</h5>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <a class="text-right" href="{% url 'usuario:logout' %}">Logout</a>
            </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <ul class="users">
                                    <li class="person active-user" data-chat="person1">
                                        <div class="btn-group" role="group">
                                            <div class="user">
                                                <img src="https://www.gravatar.com/avatar/{{ request.user.get_username_encrypt_md5 }}?d=identicon"
                                                     alt="Retail Admin">
                                                <span class="status online"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{ request.user.username }}</span><br>
                                                <span class="time">{{ request.user.last_login }}</span>
                                            </p>
                                        </div>
                                    </li>
                                    {% for user in users %}
                                        <li class="person" data-chat="person1">
                                            <div class="user">
                                                <img src="https://www.gravatar.com/avatar/{{ user.get_username_encrypt_md5 }}?d=identicon"
                                                     alt="Retail Admin">
                                                <span class="status online"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{ user.username }}</span><br>
                                                <span class="time">{{ user.last_login }}</span>
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll">
                                    {% for message in messages %}
                                        {% if message.user == request.user %}
                                            <li class="chat-right">
                                                <div class="chat-hour">{{ message.created | time }} <span
                                                        class="fa fa-check-circle"></span></div>
                                                <div class="chat-text">
                                                    {{ message.content }}
                                                </div>
                                                <div class="chat-avatar">
                                                    <img src="https://www.gravatar.com/avatar/{{ message.user.get_username_encrypt_md5 }}?d=identicon"
                                                         alt="Retail Admin">
                                                    <div class="chat-name">{{ message.user.username }}</div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="chat-left">
                                                <div class="chat-avatar">
                                                    <img src="https://www.gravatar.com/avatar/{{ message.user.get_username_encrypt_md5 }}?d=identicon"
                                                         alt="Retail Admin">
                                                    <div class="chat-name">{{ message.user.username }}</div>
                                                </div>
                                                <div class="chat-text">
                                                    {{ message.content }}
                                                </div>
                                                <div class="chat-hour">{{ message.created | time }} <span
                                                        class="fa fa-check-circle"></span></div>
                                            </li>
                                        {% endif %}
                                    {% empty %}
                                        <li class="chat-left">
                                            <div class="text-info">
                                                Not Messages
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="form-group input-group mt-3 mb-0">
                                    <textarea class="form-control" rows="1"
                                              placeholder="Type your message here..."></textarea>
                                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                                                                  aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<script src="{% static 'core/assets/js/bootstrap/4.3.1/popper.min.js' %}"></script>
<script src="{% static 'core/assets/js/bootstrap/4.3.1/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'core/assets/js/bootstrap/4.3.1/bootstrap.min.js' %}"></script>
<script type="text/javascript">

</script>
</body>
</html>