{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>J Chat App | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'core/assets/css/bootstrap/4.1.3/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/assets/css/bs4_simple_chat_ap.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <!-- Page header start -->
    <div class="page-title">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h5 class="title text-center">J Chat App</h5>
            </div>
        </div>
    </div>
    <!-- Page header end -->

    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                <div class="card m-0">

                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <ul class="users">
                                    <li class="person active-user" data-chat="person1">
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle options-btn" type="button"
                                                    id="dropdownMenu"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                <div class="user">
                                                    <img src="https://www.gravatar.com/avatar/{{ request.user.get_username_encrypt_md5 }}?d=identicon"
                                                         alt="Retail Admin">
                                                    <span class="status online"></span>
                                                </div>
                                                <p class="name-time">
                                                    <span class="name">{{ request.user.username }}</span><br>
                                                    <span class="time">{{ request.user.last_login }}</span>
                                                </p>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                <a class="dropdown-item" href="{% url 'usuario:logout' %}">Logout</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% for user in users %}
                                        <li class="person" data-chat="person1">
                                            <div class="user">
                                                <img src="https://www.gravatar.com/avatar/{{ user.get_username_encrypt_md5 }}?d=identicon"
                                                     alt="Retail Admin">
                                                <span class="status online"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{ user.username }}</span><br>
                                                <span class="time">{{ user.last_login }}</span>
                                            </p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="chat-container">
                                <ul class="chat-box chatContainerScroll" id="chatContainerScroll">

                                </ul>
                                <form action="" type="POST" enctype="multipart/formdata" >
                                    <div class="form-group input-group mt-3 mb-0">
                                        <textarea class="form-control" rows="1" id="content"
                                                  placeholder="Type your message here..."></textarea>
                                        <div class="input-group-append">
                                            <button class="msg_img_btn" type="button" id="img-button">
                                                <i class="fa fa-photo" aria-hidden="true"></i>
                                            </button>
                                            <input type="file" id="img-input" accept="image/*" hidden>
                                            <button class="msg_send_btn" type="button" id="send" disabled>
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>

            </div>

        </div>
        <!-- Row end -->

    </div>
</div>
<!-- Content wrapper end -->
<script src="{% static 'core/assets/js/bootstrap/4.1.1/jquery.min.js' %}"></script>
<script src="{% static 'core/assets/js/bootstrap/4.1.1/popper.min.js' %}"></script>
<script src="{% static 'core/assets/js/bootstrap/4.1.1/bootstrap.min.js' %}"></script>
<script type="text/javascript">

    function docReady(fn) {
        // see if DOM is already available
        if (document.readyState === "complete" || document.readyState === "interactive") {
            // call on next available tick
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    docReady(function() {
        const url = "/messages/";
        fetch(url,
            {
                credentials: 'include',
                method: 'GET',
            })
            .then(response => response.json())
            .then(function (array) {
                if (array) {
                    for (i = 0; i < array.length; i++) {
                        addElementMessage(array[i]);
                    }
                } else {
                    var message = document.createElement('li');
                    message.classList.add('chat-right');
                    message.innerHTML = '' +
                    '<li class="chat-left">'+
                        '<div class="text-info">'+
                            'Not Messages'+
                        '</div>'+
                    '</li>';
                    document.getElementById("chatContainerScroll").appendChild(message);   // Lo añadimos a la div chatContainerScroll
                }
            })
    });

    var send = document.getElementById("send");
    send.addEventListener("click", function () {
        const idUsuario = parseInt({{ request.user.id }});
        const url = "/messages/";
        var content = encodeURIComponent(document.getElementById("content").value); // &
        if (content.length > 0) {
            var data = {'content': content, 'user': idUsuario};
            document.getElementById("content").value = '';
            send.disabled = true;
            fetch(url,
                {
                    credentials: 'same-origin',
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                        "Accept": "application/json",
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json())
                .then(function (data) {
                    addElementMessage(data);
                })
        } else {
        }
    });

    // Evento que activa o desactiva el botón dependiendo de si hay o no mensaje
    var content = document.getElementById("content");
    content.addEventListener("keyup", function () {
        if (!this.checkValidity() || !this.value) {
            send.disabled = true;
        } else {
            send.disabled = false;
        }
    });

    // Evento que activa o desactiva el botón dependiendo de si hay o no imagen
    var imgInput = document.getElementById("img-input");
    imgInput.addEventListener("change", function () {
        if (!this.checkValidity() || !this.value) {
            send.disabled = true;
        } else {
            send.disabled = false;
        }
    });

    // Forzar el Scroll hasta abajo
    function ScrollBottomInThread() {
        var thread = document.getElementById("chatContainerScroll");
        thread.scrollTop = thread.scrollHeight;
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function addElementMessage(data) {
        // Si el mensaje se ha creado correctamente
        if (data.created) {
            // Creamos una nueva capa dinámicamente con el mensaje
            var message = document.createElement('li');
            message.setAttribute('id', 'message' + data.id);
            created = new Date(data.created);
            if (data.content != null){
                mensaje = decodeURIComponent(data.content);
            } else {
                mensaje = '<img src="' + data.image + '" alt="" with="200" height="200">'
            }
            if (data.owner) {
                message.classList.add('chat-right');
                message.innerHTML = '' +
                '<div class="chat-hour">' +
                    getHourMinutesCreated(created) +
                    '<span class="fa fa-check-circle"></span>' +
                '</div>' +
                '<div class="chat-text">' +
                    mensaje +
                '</div>' +
                '<div class="dropdown">' +
                    '<button class="btn dropdown-toggle options-btn" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                    '</button>' +
                    '<div class="dropdown-menu" aria-labelledby="dropdownMenu">' +
                        '<button class="dropdown-item" onclick="deleteMessage(' + data.id + ')">' +
                            'Eliminar' +
                        '</button>' +
                    '</div>' +
                '</div>' +
                '<div class="chat-avatar">' +
                    '<img src="https://www.gravatar.com/avatar/' + data.username_encrypt_md5 + '?d=identicon" alt="Retail Admin">' +
                    '<div class="chat-name">' + data.username + '</div>' +
                '</div>';
            } else {
                message.classList.add('chat-left');
                message.innerHTML = '' +
                '<div class="chat-avatar">'+
                    '<img src="https://www.gravatar.com/avatar/' + data.username_encrypt_md5 + '?d=identicon" alt="Retail Admin">'+
                    '<div class="chat-name">' + data.username + '</div>'+
                '</div>'+
                '<div class="chat-text">'+
                    mensaje +
                '</div>'+
                '<div class="chat-hour">'+
                    getHourMinutesCreated(created) +
                    '<span class="fa fa-check-circle"></span>'+
                '</div>';
            }
            document.getElementById("chatContainerScroll").appendChild(message);   // Lo añadimos a la div chatContainerScroll
            ScrollBottomInThread();  // Movemos el scrol hasta abajo
        } else {
            console.log("El mensaje no se ha podido añadir.")
        }
    }

    function getHourMinutesCreated(date) {
        hour = created.getHours();
        minutes = created.getMinutes();
        if (hour <= 9) {
            hour = '0' + hour;
        }
        if (minutes <= 9) {
            minutes = '0' + minutes
        }
        return hour + ':' + minutes
    }

    function deleteMessage(id) {
        const url = '/messages/' + id;
        fetch(url,
            {
                credentials: 'same-origin',
                method: 'DELETE',
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                    "Accept": "application/json",
                    'Content-Type': 'application/json'
                },
            })
            .then(function () {
                document.getElementById('message' + id).remove()
            })
    }

    btnImg = document.getElementById('img-button');
    btnImg.addEventListener('click', function () {
        document.getElementById('img-input').click();
    });

    ScrollBottomInThread();
</script>

</body>
</html>